:88 {
  encode gzip

  @authRoot path /auth
  redir @authRoot /auth/ 308

  reverse_proxy /auth/* keycloak:8080

  handle_path /api/* {
    reverse_proxy backend:8080
  }

  handle {
    reverse_proxy frontend:80
  }
}
